
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-huo:before { content: "\e619"; }
.icon-erweima:before { content: "\e617"; }
.icon-yanjing:before { content: "\e62a"; }
.icon-youhuiquan:before { content: "\e61d"; }
.icon-qq:before { content: "\e601"; }
.icon-guanbi:before { content: "\e612"; }
.icon-youjiantou:before { content: "\e626"; }
.icon-yonghu:before { content: "\e602"; }
.icon-weixin:before { content: "\e603"; }
.icon-truckfuzhi:before { content: "\e61e"; }
.icon-iconxiugai:before { content: "\e61f"; }
.icon-jia:before { content: "\e610"; }
.icon-jian:before { content: "\e611"; }
.icon-hufuxinde:before { content: "\e620"; }
.icon-shuaxin:before { content: "\e604"; }
.icon-iconfont75:before { content: "\e61a"; }
.icon-haoyouyaoqing:before { content: "\e605"; }
.icon-ayixiangqingduihao:before { content: "\e615"; }
.icon-2:before { content: "\e60b"; }
.icon-1:before { content: "\e60a"; }
.icon-3:before { content: "\e60c"; }
.icon-shang:before { content: "\e628"; }
.icon-xia:before { content: "\e629"; }
.icon-zhoubianshangdian:before { content: "\e613"; }
.icon-shouji:before { content: "\e608"; }
.icon-yuandian:before { content: "\e61b"; }
.icon-4:before { content: "\e60d"; }
.icon-watuji:before { content: "\e62b"; }
.icon-gouwuche:before { content: "\e616"; }
.icon-youjian:before { content: "\e609"; }
.icon-shanchu:before { content: "\e625"; }
.icon-gouwuche1:before { content: "\e600"; }
.icon-dengluyanzhengma:before { content: "\e606"; }
.icon-xuanqutouxiang:before { content: "\e621"; }
.icon-duihao:before { content: "\e60e"; }
.icon-tanhao:before { content: "\e60f"; }
.icon-xia1:before { content: "\e618"; }
.icon-xingxing:before { content: "\e627"; }
.icon-zuojiantou:before { content: "\e62c"; }
.icon-zhifubao:before { content: "\e614"; }
.icon-mima:before { content: "\e607"; }
.icon-shoucangweishoucang:before { content: "\e622"; }
.icon-zichanqianbao:before { content: "\e623"; }
.icon-tanhao1:before { content: "\e61c"; }
.icon-bf-message:before { content: "\e624"; }
