@charset "utf-8";
/*--- 找回密码页面CSS 刘朋玉 2015.09.08 ---*/
.fillInfo{height:auto;overflow:hidden;padding:0px 0px 0px 350px;}
.fillInfo li{margin-bottom:25px;height:auto;position:relative;}
.fillInfo li.findWayCheck{font:14px/38px "\5FAE\8F6F\96C5\9ED1";color:#666;margin:30px 0px 20px 0px;}
.fillInfo li.telNum,.fillInfo li.emailAddress{display:none;}
.fillInfo li.telNum.show,.fillInfo li.emailAddress.show{display:block;}
.fillInfo li i{width:100px;float:left;text-align:right;font:14px/38px "\5FAE\8F6F\96C5\9ED1";color:#333;padding-right:5px;}
.fillInfo li input[type="text"],.fillInfo li input[type="password"]{width:280px;height:14px;font-size:14px;color:#333;border:#dcdcdc solid 1px;padding:11px 0px 11px 10px;box-sizing:content-box;}
.findWayCheck input{width:15px;height:15px;margin-right:7px;cursor:pointer;}
.fillInfo li.verifyCode input{width:88px;}
.fillInfo li.verifyCode img{width:120px;height:38px;margin:0px 15px;cursor:pointer;}
.fillInfo li.verifyCode em{cursor:pointer;font:20px/38px "\5FAE\8F6F\96C5\9ED1";color:#999;}
.fillInfo li span{display:none;}
.fillInfo li.nextBtn input{width:290px;height:40px;background-color:#ea3e3e;border:none;font-size:16px;letter-spacing:5px;cursor:pointer;color:#fff;margin:10px 0px 0px 105px;}
.findPsd{width:1198px;height:458px;margin:40px auto 0px auto;background-color:#fff;border:#dadada solid 1px;color:#666;overflow:hidden;}
.findSteps{width:1200px;height:59px;}
.findSteps li{width:300px;height:59px;font:16px/59px "\5FAE\8F6F\96C5\9ED1";color:#999;border-bottom:#dcdcdc solid 1px;float:left;text-align:center;}
.findSteps li i{font:22px/59px "\5FAE\8F6F\96C5\9ED1";margin-right:10px;}
/*--- 找回密码验证信息页面CSS 刘朋玉 2015.09.09 ---*/
.telVerify{height:auto;overflow:hidden;padding:30px 0px 0px 350px;}
.telVerify li{margin-bottom:25px;height:auto;overflow:hidden;position:relative;}
.telVerify li i{width:100px;float:left;text-align:right;font:14px/38px "\5FAE\8F6F\96C5\9ED1";color:#333;padding-right:5px;}
.telVerify li.telNum{font:14px/38px "\5FAE\8F6F\96C5\9ED1";color:#666;margin:0px 0px 15px 0px}
.telVerify li input[type="text"]{width:100px;height:14px;font-size:14px;color:#333;border:#dcdcdc solid 1px;padding:11px 0px 11px 10px;box-sizing:content-box;margin-right:15px;}
.telVerify li.nextBtn input{width:290px;height:40px;background-color:#ea3e3e;border:none;font-size:16px;letter-spacing:5px;cursor:pointer;color:#fff;margin:10px 0px 0px 105px;}
.sendWarn{padding:15px 0px 0px 105px;color:#999;display:none;}
.sendWarn font{color:#ea3e3e;margin:0px 3px}
.sendWarn.error{color:#ea3e3e;}
.sendCode{padding:0px 30px;height:38px;background-color:#ea3e3e;border:none;font-size:14px;cursor:pointer;color:#fff}
.sendCode:disabled{background-color:#999;}
.emailVerify{height:auto;overflow:hidden;padding:30px 0px 0px 350px;}
.evTit{height:51px;font:16px/29px "\5FAE\8F6F\96C5\9ED1";color:#656565;background:url("../images/account.png") no-repeat 0px -160px scroll;padding:0px 0px 0px 67px;}
.evTit font{color:#ea3e3e}
.emailVerify input[type="button"]{width:290px;height:40px;background-color:#ea3e3e;border:none;font-size:16px;letter-spacing:2px;cursor:pointer;color:#fff;margin:30px 0px 0px 67px;}
.evTxt{font:12px/25px "\5FAE\8F6F\96C5\9ED1";color:#656565;padding-left:67px;}
.evTxt b{font:bold 14px/25px "\5FAE\8F6F\96C5\9ED1";color:#656565}
.evTxt a{color:#ea3e3e;margin:0px 5px}
/*--- 找回密码密码重置页面CSS 刘朋玉 2015.09.09 ---*/
.resetPsd{height:auto;overflow:hidden;padding:30px 0px 0px 350px;}
.resetPsd li{margin-bottom:25px;height:auto;overflow:hidden;position:relative;}
.resetPsd li i{width:100px;float:left;text-align:right;font:14px/38px "\5FAE\8F6F\96C5\9ED1";color:#333;padding-right:5px;}
.resetPsd li input[type="password"]{width:230px;height:14px;font-size:14px;color:#333;border:#dcdcdc solid 1px;padding:11px 50px 11px 10px;box-sizing:content-box;}
.resetPsd li.restBtn input{width:290px;height:40px;background-color:#ea3e3e;border:none;font-size:16px;letter-spacing:5px;cursor:pointer;color:#fff;margin:10px 0px 0px 105px;}
.resetPsd li span.resetError{padding:0px 0px 0px 15px;color:#ea3e3e}
/*--- 找回密码状态页面CSS 刘朋玉 2015.09.09 ---*/
.resetPsd{height:auto;overflow:hidden;padding:30px 0px 0px 350px;}
.resetPsd li{margin-bottom:25px;height:auto;overflow:hidden;position:relative;}
.resetPsd li i{width:100px;float:left;text-align:right;font:14px/38px "\5FAE\8F6F\96C5\9ED1";color:#333;padding-right:5px;}
.resetPsd li input[type="password"]{width:230px;height:14px;font-size:14px;color:#333;border:#dcdcdc solid 1px;padding:11px 50px 11px 10px;box-sizing:content-box;}
.resetPsd li.restBtn input{width:290px;height:40px;background-color:#ea3e3e;border:none;font-size:16px;letter-spacing:5px;cursor:pointer;color:#fff;margin:10px 0px 0px 105px;}
.resetPsd li span.resetError{padding:0px 0px 0px 15px;color:#ea3e3e;}
.resetStat{font:24px/50px "\5FAE\8F6F\96C5\9ED1";color:#fd6801;padding:110px 0px 0px 360px;}
.resetStat.fail{color:#999;padding:110px 0px 0px 440px;}
.resetStat i{font-size:50px;float:left;margin-right:15px;}
.resetJump{font:14px/50px "\5FAE\8F6F\96C5\9ED1";color:#656565;text-align:center;}
.resetJump font,.resetJump a{color:#ea3e3e;margin:0px 5px;}
.findSteps li.on{border-bottom:#f60 solid 1px;color:#f60;}