@charset "utf-8";
/*--- 注册页面CSS 刘朋玉 2015.09.07 ---*/
.regist{width:1198px;height:688px;margin:40px auto 0px auto;background-color:#fff;color:#666;border:#dadada solid 1px;position:relative;}
.regist h2{font:24px/24px "\5FAE\8F6F\96C5\9ED1";color:#666;padding:27px 0px 30px 30px;}
.fastLogin{position:absolute;top:32px;right:30px;font:14px/14px "\5FAE\8F6F\96C5\9ED1";}
.fastLogin a{color:#f60;margin-left:5px;}
.registMain{height:auto;overflow:hidden;padding:0px 0px 0px 344px;}
.registMain li i{position:absolute;top:0px;left:245px;font:20px/38px "\5FAE\8F6F\96C5\9ED1";color:#ccc;margin-left:15px;}
.registMain li{height:auto;overflow:hidden;margin-bottom:25px;position:relative;}
.registMain li input[type="text"],.registMain li input[type="password"]{width:230px;height:14px;font-size:14px;line-height:14px \9;color:#333;border:#dcdcdc solid 1px;padding:11px 50px 11px 10px;box-sizing:content-box;}
.registMain li input[type="text"].placeholder,.loginMain li input[type="password"].placeholder{color:#999;}
.registMain li span{padding:0px 15px 0px 15px;font:14px/38px "\5FAE\8F6F\96C5\9ED1";color:#999;}
.registMain li span.error{color:#ea3e3e}
.agreeRegist input[type="checkbox"]{-webkit-appearance:none;width:15px;height:15px;border:#dcdcdc solid 1px;margin-right:10px;float:left;cursor:pointer;}
.agreeRegist input[type="checkbox"]:checked{background:url("../images/account.png") no-repeat 0px -115px scroll;}
.agreeRegist{font:14px/17px "\5FAE\8F6F\96C5\9ED1";color:#666;}
.agreeRegist a{color:#ff3301;}
.registBtn input{width:290px;height:40px;background-color:#ea3e3e;border:none;font-size:16px;letter-spacing:3px;cursor:pointer;color:#fff}
.registBtn input:disabled{background-color:#999;color:#fff;cursor:auto;}
.registBtn input[disabled]{background-color:#999;color:#333;cursor:auto;}
.registBtn a{font:12px/40px "\5B8B\4F53";color:#3ea1f1;margin-left:15px;}
.wjwyService{padding:10px 0px 0px 344px;font:14px/14px "\5FAE\8F6F\96C5\9ED1";}
.wjwyService font{color:#ea3e3e;}
.wjwyService a{color:#ea3e3e;}
.sendCode{padding:0px 30px;height:38px;background-color:#ea3e3e;border:none;font-size:14px;cursor:pointer;color:#fff}
.sendCode:disabled{background-color:#999;}
.sendCode[disabled]{background-color:#999;color:#333;cursor:auto;}
.protocol{width:700px;height:500px;position:relative;background-color:#fff;display:none;}
.protocol h3{font:16px/50px "\5FAE\8F6F\96C5\9ED1";color:#656565;border-bottom:#dcdcdc solid 1px;padding-left:20px;}
.protocol button{background-color:#dfdfdf;border:#dfdfdf solid 1px;font-size:22px;color:#fff;position:absolute;top:13px;right:20px;border:#dcdcdc solid 1px;cursor:pointer;}
.protocolTxt{margin:25px 20px 25px 25px;height:300px;overflow-y:scroll;overflow-x:hidden;}
.protocolTxt p{font:14px/30px "\5FAE\8F6F\96C5\9ED1";color:#666;}
.okBnt{text-align:center;padding:32px 0px 0px 0px;}
.okBnt input{width:240px;height:40px;background-color:#ea3e3e;border:none;font-size:16px;letter-spacing:2px;cursor:pointer;color:#fff}