@charset "utf-8";
/*---- 车辆管理首页 ----*/
.bbsWelcom{height:auto;overflow:hidden;}
.bbsWelcom h1{font:18px/18px "\5FAE\8F6F\96C5\9ED1";color:#333;padding:20px 0px 10px 0px}
.bbsWelcom p{color:#999;font:12px/14px "\5FAE\8F6F\96C5\9ED1";}
.bbsWelcom p a{color:#f60;margin:0px 5px;}
/*---- 分享心得 ----*/
.shareFeeling{height:40px;border:#e8e8e8 solid 1px;padding:0px 0px 0px 10px;margin-top:30px;position:relative;background-color:#fafafa;}
.shareFeeling span{font:12px/40px "\5FAE\8F6F\96C5\9ED1";color:#666;}
.shareFeeling input{width:200px;height:42px;float:right;background:url("../images/shareBg.png") no-repeat center center scroll;border:none;cursor:pointer;line-height:999px;overflow:hidden;position:absolute;top:0px;right:0px;}
/*---- 我的发帖列表 ----*/
.myPostList{border:#e8e8e8 solid 1px;width:100%;margin-top:30px;}
.myPostList tr.tit td{height:40px;border-bottom:#e8e8e8 solid 1px;background-color:#f5f5f5;font:14px/40px "\5FAE\8F6F\96C5\9ED1";color:#333;}
.myPostList td{height:40px;color:#333;text-align:center;}
.myPostList td.bbsTitle{width:495px;padding:0px 15px;text-align:left;}
.myPostList td.bbsTime{width:180px;}
.myPostList tr.txt td.bbsTime{color:#999;}
.myPostList td.bbsOp{width:180px;}
.bbsOp a.edit{background-color:#00c3b5;}
.bbsOp a.dele{background-color:#ea4b8b;}
.bbsOp a.view{background-color:#50b2cb;}
.bbsOp a{padding:3px 4px;background-color:#ddd;display:inline-block;color:#fff;margin:0px 4px;}
.bbsOp a:hover{text-decoration:none;}
/*---- 我的发帖列表 ----*/
.bbsComList{height:auto;overflow:hidden;margin-top:30px;}
.bbsComList li{height:auto;overflow:hidden;border:#e8e8e8 solid 1px;margin-bottom:15px;}
.bbsComList li p{padding:12px 12px;font:12px/22px "\5FAE\8F6F\96C5\9ED1";color:#333;}
.bbsComList li span{width:100%;height:30px;font:12px/30px "\5FAE\8F6F\96C5\9ED1";color:#999;background-color:#f9f9f9;padding-left:12px;display:inline-block;}
.bbsComList li span a{color:#999;}
.bbsComList li span a:hover{color:#f60;}
/*---- 私信列表 ----*/
.msgTit{height:50px;background-color:#f9f9f9;border-bottom:#e8e8e8 solid 1px;margin-top:30px;}
.msgTit span{width:120px;text-align:center;font:14px/47px "\5FAE\8F6F\96C5\9ED1";height:47px;cursor:pointer;color:#333;float:left;border-top:#f9f9f9 solid 3px;border-bottom:#e8e8e8 solid 1px;border-right:#f9f9f9 solid 3px;border-left:#f9f9f9 solid 1px;}
.msgTit span.on{border-top:#f60 solid 3px;border-bottom:#fff solid 1px;background-color:#fff;border-right:#e8e8e8 solid 1px;border-left:#e8e8e8 solid 1px;color:#f60;}
.msgTxt ul{height:auto;overflow:hidden;padding:10px 0px;display:none;}
.msgTxt ul.on{display:block;}
.msgTxt ul li{height:auto;overflow:hidden;border-bottom:#e8e8e8 dashed 1px;padding:10px 0px;margin:0px 10px;}
.userPhotoMsg{width:50px;height:50px;float:left;}
.magTxt{width:700px;height:auto;overflow:hidden;float:left;padding-left:20px;}
.magTxt p{font:14px/20px "\5FAE\8F6F\96C5\9ED1";color:#333;padding-bottom:10px;}
.magTxt p font{color:#f60;margin:0px 12px}
.magTxt p.msgTime{font:12px/20px "\5FAE\8F6F\96C5\9ED1";color:#999;}
.msgTxt ul li span{float:right;font:14px/50px "\5FAE\8F6F\96C5\9ED1";}
.msgTxt ul li span a{color:#999;}
.msgTxt ul li span a:hover{color:#f60;text-decoration:none;}
/*---- 回复私信弹窗 ----*/
.replyDialog{width:490px;height:235px;background-color:#fff;border:#e8e8e8 solid 1px;position:relative;}
.replyDialog h3{font:12px/33px "\5FAE\8F6F\96C5\9ED1";color:#666;background-color:#e6e6e6;}
.replyDialog h3 font{color:#f60;margin:0px 4px;}
.closeReply{position:absolute;top:4px;right:10px;color:#999;}
.closeReply:hover{color:#f60;text-decoration:none;}
.replyDialog textarea{width:440px;height:70px;border:#e8e8e8 solid 1px;padding:10px;margin:23px 13px 0px 13px;resize:none;}
.replyBtn{height:auto;overflow:hidden;padding:10px 16px 0px 13px;}
.refreshBtn{color:#666;font:14px/30px "\5FAE\8F6F\96C5\9ED1";float:left;}
.refreshBtn i{margin-right:8px;}
.refreshBtn:hover{color:#f60;text-decoration:none;}
.replyBtn input{width:100px;height:30px;border:none;cursor:pointer;background-color:#f60;color:#fff;font-size:14px;border-radius:3px;float:right;}